html {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
  }

  .base {
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      color: white;
  }

  .full-height {
      height: 100%;
  }

  .questionPanel {
    background-color: rgb(50, 50, 148);
  }

  .inputPanel {
      background-color: cornflowerblue;
  }

  .selectable {
      cursor: pointer;
  }

  .inputField {
      margin-left: 10px;
      padding-left: 10px;
  }

  .fullWidth {
    width: 90%;
  }

  .button {
      margin: 10px;
  }

  .midSizeWidth {
      width: 50%;
  }

  .alignCenter{
      text-align: center;
  }

  .options {
      margin: 2%;
  }

  .question {
      margin-top: 2%;
  }